.appGrid {
  box-sizing: border-box;
  width: 100%;
  /* border: 1.35px solid var(--color-scrollbar); */
  overflow-x: hidden;
  overflow-y: auto;
}

svg {
  transition: all 80ms var(--quad) 20ms;
}

.toggleWrap {
  display: flex;
  flex-wrap: nowrap;
}

[class^="toggle-icon-"] {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toggle-icon-active {
  /* border-width: 1.35px;
  border-style: solid;
  border-color: var(--color-selection); */
}

.icon-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0px .5rem;
}

.icon-cancel:hover {
  cursor: pointer;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0px .5rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* height: var(--panel-height); */
  height: 95vh;
  /* overflow-y: auto; */
}

.stat-groups {
  user-select: none;
  cursor: default;
  display:grid;
  grid-template-rows:repeat(3,1fr);
  grid-row-gap:.5rem;
  margin-bottom:1rem;
}

.appTop {
  display: relative;
  order: -2;
  width: 100%;
}
.appBottom {
  width: 100%;
}

.window-size {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: .5;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1rem;
}

[class^="window-size-card-"] {
  user-select: none;
  cursor: default;
  font-family: 'Roboto';
  font-weight: 700;
  padding: .5rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transition: all 80ms var(--quad) 20ms;
}
.window-size-card-active {
  color: rgba(30,30,30,.75);
  background-color: rgba(240,240,240,.75);
}
.window-size-card-idle {
  color: rgba(240,240,240,.75);
  background-color: rgba(180,180,180,.25);
}

.link-wrap {
  display: flex;
  justify-content: flex-start;
  padding: .5rem;
  height: 1.5rem;
  user-select: none;
  cursor: default;
  background-color: var(--color-bg);
  z-index: 100;
  order: -2;
}

.window-size-x {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.window-size-w, .window-size-h {
  display: flex;
  align-items: baseline;
}

.sys-info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  font-size: 1rem;
  font-family: 'Rubik';
}

[class^="system-info-"] {
  width: 100%;
  border-style: solid;
  border-width: 0px;
  border-radius: .25rem;
  margin: 0px .25rem;
  padding: .5rem .5rem;
}
.file-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: .5rem;
  margin-right: .5rem;
  width: 100%;
}

.console-info {
  margin-top: .5rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 1rem;
  font-family: 'Rubik';
}

[class^="console-info-"] {
  width: 100%;
  border-style: solid;
  border-width: 0px;
  border-radius: .25rem;
  margin: 0px .25rem;
  padding: .5rem .5rem;
  margin-top: .5rem;
  /* overflow-x: auto; */
}

.file-stats > [class^="console-info-"] {
  box-sizing: border-box;
  width: 100%;
  border-style: solid;
  border-width: 0px;
  border-radius: .25rem;
  margin: 0px .25rem;
  padding: .5rem .5rem;
  margin-top: .5rem;
  /* overflow-x: auto; */
}

.system-info-active, .console-info-active, .texter-active {
  border-color: var(--color-border);
  background-color: var(--color-input-idle);
  color: var(--color-text-default);
  transition: all 80ms var(--quad) 20ms;
}
.system-info-idle, .console-info-idle, .texter-idle {
  border-color: var(--color-text-disabled);
  background-color: var(--color-button-disabled);
  color: var(--color-text-disabled);
  transition: all 80ms var(--quad) 20ms;
}
.system-info-active:focus, .system-info-idle:focus, .console-info-active:focus, .console-info-idle:focus, .texter-active:focus, .texter-idle:focus {
  background-color: var(--color-input-focus);
  color: var(--color-text-active);
}
textarea {
  resize: none;
  overflow: hidden;
}

#mainconsole {
  resize: vertical;
}

.icon-statgrid {
  display: flex;
  flex-wrap: nowrap;
  /* padding: 0px .5rem; */
}



.mouse-statwrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.icon-statwrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.icon {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  min-width: 1.8rem;
  min-height: 1.8rem;
  margin-right: .5rem;
}

.eventList {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* overflow-y: auto;
  overflow-x: hidden; */
}

.footer {
  padding-bottom: .5rem;
  /* position: absolute;
  top: calc(var(--panel-height) - 2rem);
  width: calc(100% - 2.5rem);
  background-color: var(--color-bg);
  z-index: 10; */
}

[class^="mouse-pos-"] {
  min-width: 2rem;
  display: flex;
  justify-content: center;
  /* padding: 0px .5rem; */
  user-select: none;
  cursor: default;
}

.mouse-pos-active, .key-active, .text-active {
  color: var(--color-text-default);
  transition: color 80ms var(--quad) 20ms;

}
.mouse-pos-idle, .key-idle, .text-idle {
  color: var(--color-text-disabled);
  transition: color 80ms var(--quad) 20ms;

}

.key-statwrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.mouse-statgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* width: 10%; */
  width: calc(100% - 2.2rem);
  max-width: 5rem;
}


.texter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  font-size: 1rem;
  font-family: 'Rubik';
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

[class^="texter-"] {
  width: calc(100% - 5rem);
  border-style: solid;
  border-width: 0px;
  border-radius: .25rem;
  margin: 0px .25rem;
  padding: .25rem .5rem;
}

/* .texter-input {
  background-color: var(--color-input-idle);
  color: var(--color-text-default);
}
.texter-idle {
  background-color: var(--color-button-disabled);
  color: var(--color-text-disabled);
}
.texter-input:focus, .texter-idle:focus {
  background-color: var(--color-input-focus);
  color: var(--color-text-active);
} */

@media screen and (min-width:395px) {
  .stat-groups {
    grid-template-columns:repeat(3,1fr);
    grid-column-gap:.5rem;
    grid-template-rows: 1fr;
  }
}

@media screen and (min-height:210px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width:200px) {
  .file-stats {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-row-gap: .5rem; */
    grid-column-gap: .5rem;
    margin-right: .5rem;
    width: 100%;
  }
}


@media screen and (max-width:130px) {
  [class*="statgrid"] {
    display: none;
  }
  
  .stat-groups {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

@media screen and (max-width:80px) {
  [class^="window-size-card-"] {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: .25rem;
  }

  .window-size-w, .window-size-h {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .window-size-x {
    margin-bottom: .25rem;
  }

  .stat-groups {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
  }
  .appBottom {
    display: none;
  }
}

@media screen and (max-width:50px) {
  [class^="window-size-card-"] {
      padding: .5rem 0rem;
      width: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}